# https://github.com/woodruffw/zizmor

name: Security

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '.github/workflows/**'

permissions: {}

jobs:
  zizmor:
    # name: zizmor via PyPI
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2 # zizmor: ignore[unpinned-uses]
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v6 # zizmor: ignore[unpinned-uses]
        with:
          python-version: '3.10.4'

      - name: Install Zizmor
        run: |
          python -m pip install --upgrade pip
          pip install $(grep '^zizmor==' requirements.txt)

      - name: Run Zizmor
        run: zizmor .github/workflows
